[Unit]
Description=Thanos Query

[Service]
ExecStart=/usr/local/bin/thanos sidecar \
    --tsdb.path            /usr/loca/bin/thanos_tsdb \
    --prometheus.url       "http://otusphp.twc1.net:9090"

Restart=always

[Install]
WantedBy=multi-user.target
